services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app # hot reloading
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - backend-network
    
  redis:
    image: redis:alpine
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
