services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app # hot reloading
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - redis

  frontend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_URL=http://localhost:8000
    ports:
      - "8080:8080"
    networks:
      - app-network
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    depends_on:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:alpine
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
